.zcompdump-*
.zcompdump
.history
syncLocalSettings.json

git/config
globalStorage/
workspaceStorage/
.env
polybar/scripts/.env
*.log
emacs.d/.local/

cache.db
cache.db.local
history.cmdline
history.search
bookmarks.txt
