.zcompdump-*
.zcompdump
.history
syncLocalSettings.json

git/config
globalStorage/
workspaceStorage/
.env
polybar/scripts/.env
.gh-token.token
polybar/scripts/.gh-token.token
*.log
emacs.d/.local/

cache.db
cache.db.local
history.cmdline
history.search
bookmarks.txt

__pycache__
.pyc

Xauthority

autokey.json
autokey.json\~

fish/fish_variables
fish/completions
fish/conf.d
fish/functions

accels.scm
