[Desktop Action open-computer]
Exec=thunar computer:///
Name=Computer

[Desktop Action open-home]
Exec=thunar %U
Name=Home

[Desktop Action open-trash]
Exec=thunar trash:///
Name=Trash

[Desktop Entry]
Actions=open-home;open-computer;open-trash;
Categories=System;Utility;Core;GTK;FileTools;FileManager;
Comment[en_US]=Browse the filesystem with the file manager
Comment=Browse the filesystem with the file manager
Exec=env GTK_THEME=ZorinBlue-Dark thunar %F
GenericName[en_US]=File Manager
GenericName=File Manager
Icon=org.xfce.thunar
Keywords=file manager;explorer;finder;browser;folders;directory;directories;partitions;drives;network;devices;rename;move;copy;delete;permissions;home;trash;
MimeType=inode/directory;
Name[en_US]=Thunar File Manager
Name=Thunar File Manager
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
