[Desktop Entry]
Version=1.0
Name=Pairdrop
GenericName=File Sharing
StartupNotify=true
StartupWMClass=brave-browser
TryExec=brave
Exec=brave "https://pairdrop.net"
Terminal=false
Icon=/home/arch/Dotfiles/applications/pairdrop.png
Type=Application
Categories=Network;FileTools;
