[Desktop Entry]
Type=Application
Version=1.0
Name=btop
GenericName=Process Viewer
Comment=open btop
Icon=utilities-system-monitor
Exec=konsole -e btop
Terminal=false
Categories=System;Monitor;ConsoleOnly;
Keywords=system;process;task
