[Desktop Entry]
Name=Foliate
GenericName=E-Book Viewer
Comment=Read e-books in style
Categories=Office;Viewer;
MimeType=application/epub+zip;application/x-mobipocket-ebook;application/vnd.amazon.mobi8-ebook;application/x-fictionbook+xml;application/x-zip-compressed-fb2;application/vnd.comicbook+zip;x-scheme-handler/opds;
Exec=GTK_THEME=ZorinBlue-Dark foliate %U
Icon=com.github.johnfactotum.Foliate
Terminal=false
Type=Application
Keywords=Ebook;Book;EPUB;Viewer;Reader;
X-Purism-FormFactor=Workstation;Mobile;
StartupNotify=true
