[Desktop Entry]
Categories=GTK;System;Monitor;
Comment[en_US]=
Comment=
Exec=env GTK_THEME=ZorinBlue-Dark missioncenter
GenericName[en_US]=
GenericName=
Icon=io.missioncenter.MissionCenter
Keywords=Task manager;Resource monitor;System monitor;Processor;Processes;Performance monitor;CPU;GPU;Disc;Disk;Memory;Network;Utilisation;Utilization
MimeType=
Name=Mission Center
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
