[Desktop Entry]
Exec=konsole -e nvchad
Name=konsole -e nvchad
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
