[Desktop Entry]
Type=Application
Name=ncmpcpp
Comment=Command Line MPD Music Player
Icon=cantata
Terminal=false
Exec=st -e ncmpcpp
#Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
#Keywords=File;Manager;Browser;Explorer;Launcher;Vi;Vim;Python
