[Desktop Action new-private-window]
Exec=~/.local/bin/ungoogled-chromium.AppImage --ozone-platform=wayland --enable-features=TouchpadOverscrollHistoryNavigation --incognito
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;
Name=New Incognito Window

[Desktop Action new-window]
Exec=~/.local/bin/ungoogled-chromium.AppImage --ozone-platform=wayland --enable-features=TouchpadOverscrollHistoryNavigation
Name=New Window

[Desktop Entry]
Actions=new-window;new-private-window;
Categories=Network;WebBrowser;
Comment[en_US]=
Comment=
Exec='~/.local/bin/ungoogled-chromium.AppImage' --ozone-platform=wayland --enable-features=TouchpadOverscrollHistoryNavigation %U
GenericName[en_US]=Web Browser
GenericName=Web Browser
Icon=/home/arch/Dotfiles/applications/ungoogled-chromium.png
MimeType=text/html;image/webp;image/png;image/jpeg;image/gif;application/xml;application/xml;application/xhtml+xml;application/rss+xml;application/rdf+xml;application/pdf;
Name[en_US]=Ungoogled Chromium
Name=Ungoogled Chromium
Path=
StartupNotify=true
StartupWMClass=chromium
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
