[Desktop Entry]
Exec=plasmawindowed org.kde.plasma.clipboard
Name=plasmawindowed org.kde.plasma.clipboard
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
