[Desktop Entry]
Exec=playerctl --player=vlc previous
Name=playerctl --player=vlc previous
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
