[Desktop Entry]
Exec=qdbus org.kde.krunner /App org.kde.krunner.App.query "g "\n
Name=qdbus org.kde.krunner /App org.kde.krunner.App.query "g "\n
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
