/* Photon (Lepton) */
@import url("Photon/userChrome.css");
@import url("Photon/userContent.css");

/* autohide bookmarks (witout lepton) */
/* @import url("autohide-bookmarks.css"); */


/* center text in address bar */
#urlbar .urlbar-input-box {
    text-align: center;
}

/* back/next buttons */

#back-button:not(:hover),
#back-button:not(:hover) > .toolbarbutton-icon {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

#back-button:hover,
#back-button:hover > .toolbarbutton-icon {
    border: none !important;
    border-radius: 2px !important;
}

#back-button {
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfiAxMSNzVLQoGBAAAAb0lEQVQoz43ROQqDUBSF4UMEESKCBBehOODK7ezSWZnGJmuI4xp+66CX9077FXc40k1o+fCSFRoOOgKLa3Z6QosrNt5EFpesDDwtLlgYSSzOmZlILY758SW7ykO+cYzwWNLjTI9HSc5XS86ypP+6Tw/fVEqhFbEZAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE4LTAzLTE5VDE4OjU1OjUzKzAxOjAwq3ccegAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOC0wMy0xOVQxODo1NTo1MyswMTowMNoqpMYAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC") !important;
}

#forward-button {
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfiAxMSOA3k2CXQAAAAbklEQVQoz5WRMQqDABAEF4UgKEIIPkKJii+3s7NLpY1N3qBR84axsPYOt1sYuNtdSZLEi5FG1yKk5U9tIQ86dioLiejZKC0k5sPK20JSBn4UFvJkYiG3kIwvM8npAt2Vc8J50onpFOVU7Y51PfcBtUFUSir+geUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDMtMTlUMTg6NTY6MTMrMDE6MDDECqmDAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTAzLTE5VDE4OjU2OjEzKzAxOjAwtVcRPwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=") !important;
}


/* hide back, forward and reload buttons in the context menu */
#context-navigation,
#context-sep-navigation {
    display: none !important;
}


/* list-tabs.css */
/* show number of open tabs in current window */
.titlebar-spacer {
    display: none !important;
}

#alltabs-button {
    display: -moz-box !important;
}

#TabsToolbar-customization-target {
    counter-reset: tabCount;
}
.tabbrowser-tab {
    counter-increment: tabCount;
}
#alltabs-button > .toolbarbutton-badge-stack > .toolbarbutton-icon {
    visibility: collapse !important;
}
#alltabs-button > .toolbarbutton-badge-stack {
    position: relative !important;
}
#alltabs-button > .toolbarbutton-badge-stack::before {
    content: counter(tabCount);
    color: var(--toolbarbutton-icon-fill);
    opacity: var(--toolbarbutton-icon-fill-opacity);
    position: absolute;
    bottom: var(--toolbarbutton-inner-padding);
    left: 50%;
    transform: translateX(-50%);
    padding: 0 3px;
}

html#main-window
    body
    box#navigator-toolbox-background
    toolbox#navigator-toolbox
    toolbar#nav-bar.browser-toolbar
    panel#customizationui-widget-panel.cui-widget-panel.panel-no-padding
    panelmultiview#customizationui-widget-multiview
    box.panel-viewcontainer
    box.panel-viewstack
    panelview#allTabsMenu-allTabsView.PanelUI-subView.cui-widget-panelview
    vbox.panel-subview-body
    toolbarbutton#allTabsMenu-searchTabs.subviewbutton {
    display: none !important;
}

/* //////////////////////////// */
.tab-icon-sound-label {
    display: none !important;
}

/* //////////////// */
/* move findbar to top */
findbar {
    order: -1;
    margin-bottom: -33px;
    position: relative;
    border-top: none !important;
    padding: 0 !important;
    transition:
        transform 82ms linear,
        opacity 82ms linear 32ms !important;
    background: none !important;
    pointer-events: none;
    z-index: 1;
    white-space: nowrap;
}

.findbar-container > .findbar-find-fast {
    padding: var(--toolbarbutton-inner-padding) 1px;
    margin: 0 !important;
}

findbar[hidden] {
    transform: translateY(-30px);
}

findbar > .findbar-container,
findbar > .close-icon {
    border: 1px solid var(--chrome-content-separator-color);
    border-width: 0 0 1px 0px;
    background-color: var(--lwt-accent-color) !important;
    background-image: linear-gradient(
            var(--toolbar-bgcolor),
            var(--toolbar-bgcolor)
        ),
        var(--lwt-header-image, none);
    pointer-events: auto;
}

findbar > .findbar-container {
    border-bottom-right-radius: 4px;
    border-right-width: 1px;
    height: initial !important;
    margin-inline: 0px !important;
    overflow-inline: visible !important;
}

.findbar-find-status {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.findbar-closebutton {
    margin: 0 !important;
    border-radius: 0 !important;
    padding: 5px !important;
    width: initial !important;
    order: -1;
}
.findbar-closebutton > image {
    padding: 3px;
}
.findbar-closebutton:hover > image {
    background: var(--toolbarbutton-hover-background) !important;
    border-radius: 4px;
}
findbar > .findbar-container > hbox {
    margin: 0 5px;
}

findbar::after {
    content: "";
    display: flex;
    flex-grow: 100;
}

findbar {
    flex-direction: row-reverse;
}
findbar > .findbar-container {
    flex-direction: row-reverse;
    border-inline-width: 1px 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 4px;
}
/*
  Move findbar so it isn't over the scrollbar
  Delete if you want findbar to begin from right window edge
  */
findbar {
    margin-right: 16px;
    border-right: 1px solid var(--chrome-content-separator-color);
}

/* ////// */

/* Always show tab close button on hover and never otherwise */
.tabbrowser-tab .tab-close-button {
    display: none;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
    display: flex !important;
    align-items: center;
}


/* /////// */
/*Reduces the padding/margins on the new (since Firefox 75) "breakout" navbar dropdown, so it looks less like a mobile layout
/* Remove padding on urlbar results */
.urlbarView-row {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

/* Remove padding on urlbar (icons on the right break without this) */
#urlbar-input-container {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

/* Reduce "breakout" navbar height */
#urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: calc(var(--urlbar-toolbar-height) - 4px) !important;
}

/* Fix breakout positioning being too high after we decreased the height */
#urlbar[breakout][breakout-extend] {
    top: 2px !important;
}

/* Remove padding on search one offs div */
.search-one-offs {
    padding-block: 0px !important;
}

/* Fix padding left of the search one-off icons */
.search-panel-one-offs {
    padding-left: 7px !important;
}

/* Remove margins around the search one-off icons */
.searchbar-engine-one-off-item {
    margin: 0px !important;
}

/* disable white flash when loading webpages */
#browser vbox#appcontent tabbrowser, #content, #tabbrowser-tabpanels,
browser[type=content-primary],browser[type=content] > html {
    background: #2e3440 !important
}
