// center text in address bar
#urlbar .urlbar-input-box {
   text-align: center;
}


// back/next buttons

#back-button:not(:hover),
#back-button:not(:hover) > .toolbarbutton-icon {
background: transparent !important;
border: none !important; box-shadow: none !important; }

#back-button:hover,
#back-button:hover > .toolbarbutton-icon {
border: none !important;
border-radius: 2px !important; }

#back-button { list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfiAxMSNzVLQoGBAAAAb0lEQVQoz43ROQqDUBSF4UMEESKCBBehOODK7ezSWZnGJmuI4xp+66CX9077FXc40k1o+fCSFRoOOgKLa3Z6QosrNt5EFpesDDwtLlgYSSzOmZlILY758SW7ykO+cYzwWNLjTI9HSc5XS86ypP+6Tw/fVEqhFbEZAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE4LTAzLTE5VDE4OjU1OjUzKzAxOjAwq3ccegAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOC0wMy0xOVQxODo1NTo1MyswMTowMNoqpMYAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC') !important; }

#forward-button { list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfiAxMSOA3k2CXQAAAAbklEQVQoz5WRMQqDABAEF4UgKEIIPkKJii+3s7NLpY1N3qBR84axsPYOt1sYuNtdSZLEi5FG1yKk5U9tIQ86dioLiejZKC0k5sPK20JSBn4UFvJkYiG3kIwvM8npAt2Vc8J50onpFOVU7Y51PfcBtUFUSir+geUAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDMtMTlUMTg6NTY6MTMrMDE6MDDECqmDAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTAzLTE5VDE4OjU2OjEzKzAxOjAwtVcRPwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=') !important;}



// context menu.css
// make context menu look better
:root{
  --arrowpanel-menuitem-margin: 0 8px;
  --arrowpanel-menuitem-padding-block: 0px;
  --arrowpanel-menuitem-padding-inline: 8px;
  --arrowpanel-menuitem-border-radius: 4px;
  --panel-separator-margin-vertical: 4px;
}

menupopup:not(.in-menulist){
  --panel-background: #3b4252 !important;
  --panel-color: #eceff4 !important;
  --button-hover-bgcolor: #4c566a;
}


menupopup{
  --panel-item-hover-bgcolor: var(--button-hover-bgcolor)
}
menupopup > menuitem,
menupopup > menu{
  appearance: none !important;
  margin: var(--arrowpanel-menuitem-margin) !important;
  min-height: 24px !important;
  padding: var(--arrowpanel-menuitem-padding-block) var(--arrowpanel-menuitem-padding-inline) !important;
  border-radius: var(--arrowpanel-menuitem-border-radius) !important;
  background-color: transparent !important;
}
#context-navigation{
  padding-inline: var(--arrowpanel-menuitem-padding-inline) !important;
}

menupopup:not(.in-menulist){
  --panel-padding: var(--arrowpanel-menuitem-padding-block) 0 !important;
}
menuseparator:not(.in-menulist){
  margin-block: var(--panel-separator-margin-vertical) !important;
}

#context-navigation > menuitem[_moz-menuactive] .menu-iconic-icon{
  border-radius: var(--arrowpanel-menuitem-border-radius) !important;
}
menupopup > menuitem[_moz-menuactive],
menupopup > menu[_moz-menuactive]{
  background-color: var(--panel-item-hover-bgcolor) !important;
}
menupopup > menuitem[disabled][_moz-menuactive],
menupopup > menu[disabled][_moz-menuactive]{
  background-color: var(--menuitem-disabled-hover-background-color) !important;
}

.menupopup-arrowscrollbox{
  padding-block: 8px !important;
}

#urlbar-input-container menupopup {
 text-align: left;
}

#context-navigation, #context-sep-navigation { display: none !important; }

/*
#context-navigation{ -moz-box-orient: vertical; flex-direction: column !important; }
#context-navigation > menuitem > .menu-iconic-left{ display: none }

#context-navigation > menuitem{
  padding-block: 4px;
  padding-inline-start: 8px;
  -moz-box-pack: start !important;
  width: auto !important;
   border-radius: var(--arrowpanel-menuitem-border-radius) !important;
}

#context-navigation > menuitem[_moz-menuactive="true"]:not([disabled]){ background-color: var(--button-hover-bgcolor) !important; }
#context-navigation > menuitem::before{ content: attr(aria-label) }
*/

// list-tabs.css
// show number of open tabs in current window
.titlebar-spacer {
  display: none !important;
}

#alltabs-button {
    display: -moz-box !important;
}

#TabsToolbar-customization-target {
    counter-reset: tabCount;
}
.tabbrowser-tab {
    counter-increment: tabCount;
}
#alltabs-button > .toolbarbutton-badge-stack > .toolbarbutton-icon {
    visibility: collapse !important;
}
#alltabs-button > .toolbarbutton-badge-stack {
    position: relative !important;
}
#alltabs-button > .toolbarbutton-badge-stack::before {
    content: counter(tabCount);
    color: var(--toolbarbutton-icon-fill);
    opacity: var(--toolbarbutton-icon-fill-opacity);
    position: absolute;
    bottom: var(--toolbarbutton-inner-padding);
    left: 50%;
    transform: translateX(-50%);
    padding: 0 3px;
}

html#main-window body box#navigator-toolbox-background toolbox#navigator-toolbox toolbar#nav-bar.browser-toolbar panel#customizationui-widget-panel.cui-widget-panel.panel-no-padding panelmultiview#customizationui-widget-multiview box.panel-viewcontainer box.panel-viewstack panelview#allTabsMenu-allTabsView.PanelUI-subView.cui-widget-panelview vbox.panel-subview-body toolbarbutton#allTabsMenu-searchTabs.subviewbutton {
    display: none !important;
}

//////////////////////////

/* Shows tab audio icons next to the tab icon, and by default removes the tab secondary line */

.tabbrowser-tab:not([pinned]) .tab-icon-stack:is([muted],[soundplaying],[activemedia-blocked]){
  grid-template-areas: "a s";
}
.tabbrowser-tab:not([pinned]) .tab-icon-overlay:is([muted],[soundplaying],[activemedia-blocked]){ grid-area: s; }
.tab-icon-overlay,
.tab-icon-image,
.tab-throbber{ opacity: 1 !important; }

.tab-icon-overlay:not([pinned]){
  padding: 0px !important;
  margin-inline: -3px 1px !important;
}

/* secondary audio label ain't much use with this style, but feel free to remove the next line if you want to show it. */
.tab-secondary-label{ display: none }

/* show the secondary label when video is in PiP */
.tab-secondary-label[pictureinpicture]{ display: -moz-box }

/* These exist for compatibility with combined_favicon_and_tab_close_button.css */
.tab-icon-overlay{ pointer-events: auto }
.tab-content > .tab-icon-stack,
.tab-icon-stack:hover > .tab-icon-image{ visibility: visible }

////////////////
/* move findbar to top */

findbar{
  -moz-box-ordinal-group: 0;
  margin-bottom: -33px;
  position: relative;
  border-top: none !important;
  padding: 0 !important;
  transition: transform 82ms linear, opacity 82ms linear 32ms !important;
  background: none !important;
  pointer-events: none;
  z-index: 1;
}

.findbar-container > .findbar-find-fast{
  padding: var(--toolbarbutton-inner-padding) 1px;
  margin: 0 !important;
}

findbar[hidden]{ transform: translateY(-30px);}

findbar > .findbar-container,
findbar > .close-icon{
  border: 1px solid var(--chrome-content-separator-color);
  border-width: 0 0 1px 0px;
  background: var(--uc-light-bkgnd-color,var(--toolbar-bgcolor)) !important;
  pointer-events: auto;
}
findbar > .findbar-container{
  -moz-box-direction: reverse;
  border-left-width: 1px;
  border-bottom-left-radius: 4px;
  height: initial !important;
}

.findbar-find-status{
  display: -moz-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-box-flex: 1;
}

.findbar-closebutton{
  margin: 0 !important;
  border-radius: 0 !important;
  padding: 5px !important;
  width: initial !important;
}
.findbar-closebutton > image{ padding: 3px }
.findbar-closebutton:hover > image{
  background: var(--toolbarbutton-hover-background) !important;
  border-radius: 4px
}
findbar > .findbar-container > hbox{ margin: 0 5px }

findbar::before{
  content:"";
  display: -moz-box;
  -moz-box-flex: 100;
}

/*
Move findbar so it isn't over the scrollbar
Delete if you want findbar to begin from right window edge
*/
findbar{
  margin-right: 16px;
  border-right: 1px solid var(--chrome-content-separator-color);
}

/////////
/* Always show tab close button on hover and never otherwise */
.tabbrowser-tab .tab-close-button{
  display:none;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button{
  display:-moz-box !important;
}


//////
/*Reduces the padding/margins on the new (since Firefox 75) "breakout" navbar dropdown, so it looks less like a mobile layout
/* Remove padding on urlbar results */
.urlbarView-row {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* Remove padding on urlbar (icons on the right break without this) */
#urlbar-input-container {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* Reduce "breakout" navbar height */
#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: calc(var(--urlbar-toolbar-height) - 4px) !important;
}

/* Fix breakout positioning being too high after we decreased the height */
#urlbar[breakout][breakout-extend] {
  top: 2px !important;
}

/* Remove padding on search one offs div */
.search-one-offs {
  padding-block: 0px !important;
}

/* Fix padding left of the search one-off icons */
.search-panel-one-offs {
  padding-left: 7px !important;
}

/* Remove margins around the search one-off icons */
.searchbar-engine-one-off-item {
  margin: 0px !important;
}

/*
////
// Make bunch of things in the main UI round

:root{ --toolbarbutton-border-radius: 24px !important }
#urlbar-input-container > box:hover,
#urlbar-input-container > box[open],
#main-menubar >  menu,
.titlebar-button:hover,
#scrollbutton-up,
#scrollbutton-down,
.tab-close-button,
.close-icon > image,
#page-action-buttons > :hover,
.panel-arrowcontent,
.urlbarView-row-inner,
.search-one-offs button,
.subviewbutton-back,
.toolbaritem-combined-buttons > toolbarbutton,
#PopupSearchAutoComplete,
menupopup{ border-radius: 18px }

button,
.tab-background{ border-radius: 30px !important; }

.panel-arrowcontent{ margin-inline-end: 0 !important; }
.panel-arrow{ margin-inline: 17px !important; }

menupopup{ -moz-appearance: none !important; overflow: -moz-hidden-unscrollable !important; }

.tabbrowser-tab[selected]::after,
.tabbrowser-tab[beforeselected-visible]::after{ border-color: transparent !important; }

#nav-bar{ box-shadow: none !important; margin-top: 3px }
.tab-line{ display: none }

.tab-background[selected]{
  border-top-width: 2px !important;
  border-top-color: var(--lwt-tab-line-color) !important;
}
.tabbrowser-tab[selected]{ z-index: auto !important; }

.urlbar-icon,
toolbar toolbarbutton:not(#back-button):not(.bookmark-item):not(.titlebar-button) > .toolbarbutton-icon{  border-radius: 0px !important; clip-path: circle() }

menugroup:hover > menuitem{ clip-path: circle() }

/////
// animations.css
// tab click animation
.tab-stack{ transition: transform 20ms linear }
.tabbrowser-tab:active .tab-stack{
  transform: scale(0.9);
}
// Effect
.urlbar-icon,
.toolbarbutton-icon,
.menuitem-iconic .menu-iconic-icon{
  transition: transform 83ms linear !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon{
  transition: padding 83ms linear !important;
}

toolbarbutton#scrollbutton-up:active > .toolbarbutton-icon,
toolbarbutton:not(.toolbarbutton-1):active > .toolbarbutton-icon,
toolbar .toolbarbutton-1:not([disabled]):active > .toolbarbutton-badge-stack > .toolbarbutton-icon,
.menuitem-iconic:active .menu-iconic-icon,
.urlbar-page-action:active > .urlbar-icon{
  transform: scale(0.6) !important;
}
toolbarbutton#scrollbutton-down:active > .toolbarbutton-icon{ transform: scale(-0.6) !important; }

toolbar .toolbarbutton-1:not([disabled]):active > .toolbarbutton-icon{
  padding: calc(var(--toolbarbutton-inner-padding) + 3px) !important;
}
*/